:root {
  --main-blue-color: rgb(0, 28, 85);
  --main-gray-color: rgb(127, 121, 140);
}

body {
  background-color: rgb(237, 249, 254);
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 0px;
  padding-bottom: 10vh;
  line-height: normal;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.header > a > h1 {
  color: black;
  float: left;
  margin: 0px;
  font-weight: 400;
  font-family: "Rouge Script", cursive;
  font-size: 45px;
}

.header > table {
  float: right;
  max-width: 100%;
  border-spacing: 60px 0px;
  margin-top: 10px;
}

.header > table > tbody > tr > td > a > p {
  margin: 0px;
  font-family: "Rosarivo", serif;
  color: black;
  font-size: 18px;
}

.name {
  text-align: center;
  /* font */
}

.name > h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;

  font-size: 80px;
}

.name > table {
  margin-right: auto;
  margin-left: auto;
}

.jobTitle {
  margin: 0;
  color: var(--main-blue-color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.homeImg {
  margin-left: 8px;
  width: 44px;
  height: 44px;
}

.intro {
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 20px;
}

.intro > p {
  color: var(--main-gray-color);
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  margin: 0;
}

.intro > p > span {
  color: rgba(0, 28, 85, 0.8);
  font-weight: 800;
}

.aboutMeImg {
  width: 44px;
  height: 44px;
  padding: 0;
}

.aboutCenter > table {
  margin-right: auto;
  margin-left: auto;
  border-spacing: 10px 0px;
}

.aboutCenter {
  margin-bottom: 20px;
}

.line {
  margin-right: auto;
  margin-left: auto;
  height: 0.1em;
  width: 50%;
  background-color: var(--main-gray-color);
  margin-bottom: 15px;
}

.aboutCenter > table > tbody > tr > td > h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-size: 40px;
}

.aboutCenter > table > tbody > tr > td > a > h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-size: 30px;
  text-decoration: underline;
}

.education {
  text-align: center;
}

.education > h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  font-size: 30px;
}

.education > p {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-gray-color);
  margin: 0px;
  font-size: 18px;
  margin-top: 3px;
  font-weight: 600;
}

.exp_table_info > td > p {
  color: var(--main-gray-color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  margin: 0;
}

.exp_table_info > td > a > p{
  color: var(--main-gray-color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  margin: 0;
}

.exp_table_info > td:nth-child(1) {
  text-align: left;
}

.exp_table_info > td:nth-child(2) {
  text-align: right;
}

.exp_table_info > td {
  padding-bottom: 18px;
}

.exp_table_company > td > p {
  color: var(--main-blue-color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.exp_table_company > td > p > span {
  color: var(--main-blue-color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.awards {
  text-align: center;
}

.awards > p {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-gray-color);
  margin: 0px;
  font-size: 18px;
  margin-bottom: 8px;
}

.awards > p > span {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 3px;
}

.certifications {
  margin-right: auto;
  margin-left: auto;
  max-width: max-content;
}
.certifications > a > p {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
}

.certifications > p {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-gray-color);
  margin: 0px;
  font-size: 18px;
  margin-bottom: 10px;
}

.ind_proj {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-spacing: 30px 20px;
}

.proj_card {
  padding: 20px;
  width: 600px;
  height: 430px;
  background-color: rgb(166, 225, 250);
  box-shadow: 0px 5px 15px -10px;
}

.proj_card_header {
  margin-bottom: 40px;
}

.proj_card_header > h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  font-size: 30px;
  float: left;
}
.proj_card_header > div {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-blue-color);
  margin: 0px;
  font-size: 30px;
  float: right;
}

.proj_card_icon {
  width: 35px;
  height: 35px;
  margin-left: 3px;
}

.description > p {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main-gray-color);
  margin: 0px;
  font-size: 17px;
  margin-top: 5px;
}

.description > p:nth-child(1) > span {
  color: var(--main-blue-color);
  font-weight: 900;
}
.description > p:nth-child(2) > span {
  color: var(--main-blue-color);
}

.proj_img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 280px;
  max-width: max-content;
}

.proj_img > img {
  height: 100%;
}
